@charset "UTF-8";
body{
	background-color: rgb(142, 152, 253);

}
body.online #offline{
	display:none;
	visibility:hidden;
	background-color: rgb(142, 152, 253);

}
body.offline #offline{
	display: block;
	width: 100vw;
	height: 100vh;
	color: white;
	position: fixed;
	z-index: 9999;
	padding: 30px;
	box-sizing: border-box;
}
.ui-content {
    overflow: visible;
    overflow-x: hidden;
	margin-top: 50px;
	background-color: rgb(222, 232, 255);

}
h3
{
	text-shadow: 0 1px 0 rgb(60, 60, 60);
	margin-bottom: 0px;
}
.page{
	background-color: rgb(222, 232, 255);

}
#button
{
	padding-left: 0px;
}
.mainbuttons {
	
	bottom: 0px;
	user-select: none;
	text-align: center;
	position: fixed !important;
	width: 100%;
	z-index: 1;
	left: 0px;
	background-color: rgb(142, 152, 253);
	box-shadow: 0px 5px 0 rgb(104, 111, 186);
    color: #fff /*{a-bar-color}*/;
    text-shadow: 0 2px 0 rgb(100, 100, 100);
	font-weight: bold;
}

.grid-container	{
	display: grid;
	margin-bottom: 100px;


	grid-gap: 30px;

	grid-template-columns: auto;

}
p {
	padding-left: 1%;
	margin-right: 20%;
    color: #fff /*{a-bar-color}*/;
    text-shadow: 0 2px 0 rgb(100, 100, 100);
	font-weight: bold;
	font-size: 20px;
	background-color: rgb(142, 152, 253);
	box-shadow: 0px 5px 0 rgb(104, 111, 186);
}

.headerBar	{
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 1;
	background-color: rgb(142, 152, 253);
	box-shadow: 0px 5px 0 rgb(104, 111, 186);
    color: #fff /*{a-bar-color}*/;
    text-shadow: 0 2px 0 rgb(100, 100, 100);
	font-weight: bold;
}
h1	{
	text-align: center;

}
.headerbutton
{
    color: #fff /*{a-bar-color}*/;
    text-shadow: 0 2px 0 rgb(100, 100, 100);
	font-weight: bold;
	font-size: 20px;
	background-color: rgb(222, 232, 255);
	box-shadow: 0px 5px 0 rgb(172, 188, 224);
	margin: 3px;
}
#backbutton1{float:left; width:45px;height:50px;}
#backbutton2{float:left; width:45px;height:50px;}
#backbutton3{float:left; width:45px;height:50px;}

#sellfishtext{margin:0 auto;}
#sellbutton{float:right;width:45px;height:50px;}
#cartbutton{float:right;width:45px;height:50px;	margin-right: 15px;
}
.grid-item	{
	border: 2px solid black;
	box-shadow: 5px 5px 5px grey;
	margin-left: 20%;
	margin-top: 80px;
	margin-right: 20%;
	position: relative;
	
	text-align: center;
	
	background-color:white;
	padding-bottom: 10px;

}
.grid-item p {
	margin: 0px;
}
.grid-item h1 {
	margin-bottom: 0px;
}
.grid-item img	{
	display:block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}

#logoimage
{
	display:block;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}
#backimage
{
	margin: 5px;
	margin-left: 10px;
	height: 100%;
}
#sellbutton
{

	margin-right: 15px;

}
#sellimage
{
	margin: 5px;
	height: 100%;
}
#cartimage
{
	margin: 5px;
	height: 100%;
}
#pageData
{
	size: 50px;
}



.mainpagebox
{
	size: 100%;
	width:100%;
	height:100%;
	position:relative;
}


#map {
        display:block;
		height: 400px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		
}
.mainbutton {
	
	text-decoration: none;
	
	display:inline-block;

	font-weight: bold;	
	font-size: 30px;
	margin: 20px;
	width: 120px;
}
#throwbutton {
	text-shadow: 0 2px 0 black;

	
	background-color: red;
	color: darkred;
	box-shadow: 0px 5px 0 darkred;
}
#wantbutton {
	text-shadow: 0 2px 0 black;

	background-color: #00ff00;
	color: darkgreen;
	box-shadow: 0px 5px 0 darkgreen;

}
#startbutton {
	text-shadow: 0 2px 0 rgb(104, 111, 186);

	background-color: rgb(142, 152, 253);
	color: white;
	box-shadow: 0px 5px 0 rgb(104, 111, 186);
	
	padding: 5px;

}

#messageButton {
	text-shadow: 0 2px 0 darkred;
	width:auto;
	background-color: white;
	color: red;
	box-shadow: 0px 5px 0 gray;
	padding: 5px;
}
.grid-item:	{
	background-color: darkred;

}

.headerbutton a:visited{
	color:white;
}
#throwbutton:hover {
	background-color: #dd0000;
	font-weight: bold;	
}
#throwbutton:active {
	background-color: darkred;
}
#wantbutton:hover {
	background-color: #00ce00;
	font-weight: bold;	
}
#wantbutton:active {
	background-color: #008200;
}